{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Login</title>
    <link rel="stylesheet" href='{% static "css/index.css" %}'>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="relative h-screen w-full overflow-hidden np-scrollbar">

        <div class="h-full w-full overflow-hidden">
            <img class="h-full w-full object-cover" src="{% static 'images/netflix-background.jpg' %}" alt="background_image" />
        </div>

        <div class="absolute w-full h-full top-0 left-0 flex justify-center items-center bg-black bg-opacity-40">
          <div class="w-[450px] bg-black p-14 bg-opacity-70 backdrop-filter bg-blur rounded-md">
            <div class="mb-10">
              <h1 class="font-semibold text-4xl">Sign In</h1>
            </div>
            <form>
              <div class="space-y-5">
                <div class="w-full flex flex-col gap-5">
                <input 
                  type="email" 
                  class="w-full px-4 py-3 bg-gray-300 bg-opacity-20 border border-gray-500 rounded-md outline:gray-500 transition-all duration-300 ring:red-400"
                  placeholder="Email or mobile number"
                />
                <input 
                  type="password" 
                  class="w-full px-4 py-3 bg-gray-300 bg-opacity-20 border border-gray-500 rounded-md outline:gray-500 transition-all duration-300 ring:red-400"
                  placeholder="Password"
                />
                <button class="w-full py-2.5 bg-[#e50914] hover:bg-red-500 rounded-md text-white transition-all duration-500">
                  Sign In
                </button>
              </div>
              <div class="space-y-7 text-center">
                <a href="forgotpassword">
                  <span class="text-center cursor-pointer hover:underline">Forgot password? </span>
                </a>
                <div class="text-left space-y-3">
                  <p class="text-lg flex gap-2">
                    <span class="text-[#c4bda4]">New to Netflix?</span> 
                    <a href="signup" class="hover:underline">
                      <span class="font-semibold">Sign up now</span>.
                    </a>
                  </p>
                  <p class="text-[13px]">This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</p>
                </div>
              </div>
              </div>
            </form>
          </div>
        </div>
        
    </main>
</body>
</html>
